.header {
    height: 129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:125px;
    paddding-top:21px;
}

.menu__list {
    display: flex;
    justify-content: space-between;


}

.menu__item{
    margin-right: 54px;
}
.menu__item:last-child{
margin-right: 0;
}
.menu__item-link{
    font-size:14px;
    font-weight:400;
}
.contacts__telephone{
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
}

.contacts__work{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

.contacts__work__hours{
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}
.menu__item-link:hover{
   color: #FF3D00;
} 

.services__list{
    display: flex;
    align-items: center;
    color: #9A9A9A;
    margin-bottom: 50px;
    
}
.services__item--active{
    color: #fff;
}
.services__item:after{
    content: "/";
    
}
.services__item:last-child:after{
    
    display: none;
}
